@import url(http://fonts.googleapis.com/css?family=Roboto);
@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

body {
   height: 100%;
   color: $textColourPrimary;
   font: 100% 'Roboto', sans-serif;
   overflow-x: hidden;
   * {
      box-sizing: border-box;;
   }
}

.site-wrap {
   position: relative;
   padding: 20px;
   min-width: 100%;
   min-height: 100vh;
   background-color: #fff;

}

.main {
   height: 40%;
   text-align: center;
   background: transparent url('/assets/img/house-svp.jpg') no-repeat 0 0/cover;
}

.alpha {
   margin: 0 0 20px;
   padding: 0;
   color: $white;
   text-shadow: 2px 5px 8px #888;
   text-transform: capitalize;
}
