@import './../../common/common';
.form {
  display: flex;
  align-items: center;
  max-width: 90%;
  height: 50vh;
  margin: auto;
  input[type=text] {
	flex-grow: 2;
  }
  button {
	flex-grow: 1;
  }
  @include breakpoint(sm) {
	max-width: 60%;

  }
}
.list {
  padding: 10px;
  height: calc(50vh);
  background-color: $white;
  @include breakpoint(sm){
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	max-width: 90%;
	margin: auto;
  }
  .item {
	border-bottom: 1px solid $borderLight;
	@include breakpoint(sm) {
	  display: inline-flex;
	  flex-grow: 1;
	  margin-bottom: 10px;
	  width: 33%;
	  border: 0;
	}
  }
}
.media {
  padding: 10px 0;
  .media-img {
	width: 50px;
	height: 50px;
  }
}