<navbar></navbar>
<div class="main site-wrap">
    <section class="hero">
        <div class="form search">
            <input type="text" ng-model="$ctrl.searchTerm"/>
            <button class="clickable" ng-click="$ctrl.fetchAgents()">Search</button>
        </div>

    </section>
    <section class="list" ng-class="{'loading' : $ctrl.loading === true}">
        <div class="wrapper" >
            <div ng-if="$ctrl.agents.length === 0">
                <p class="warning">No agents found</p>
            </div>
            <div ng-repeat="agent in $ctrl.agents | limitTo: $ctrl.limit" class="item media rounded-img">
                <div class="media-img">
                    <img src="{{ agent.ImageUrl }}" alt="">
                </div>
                <div class="media-body">
                    <h3 class="gamma">{{ agent.Name }}</h3>
                    <p class="default-text">{{ agent.SecondaryName }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
